@import "shared.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #9ac7ff;
}

* {
  font-family: "Baloo Tammudu 2", cursive;
}

.app {
  height: calc(100vh - 95px);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
}

.heading {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;

  .title {
    font-size: 9rem;
    line-height: 0.8;
    font-weight: 900;
    margin: 0;

    @media screen and (max-width: 425px) {
      font-size: 3rem;
      line-height: 1;
    }
  }

  .sub_title {
    // margin-top: -30px;
    font-size: 1.8rem;
    line-height: 1;
    color: rgb(59, 59, 59);
  }
}

.split-zone {
  position: absolute;
  top: 50%;

  display: flex;
  width: 100%;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    top: 40%;
  }
}

.left-side,
.right-side {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;

  .app-logo {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: 10px;
  }

  button {
    font-size: 1.8rem;
    line-height: 1.2;
    background-color: transparent;
    border: 2px solid black;
    padding: 18px 15px 10px 15px;
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: center;
  }

  @media screen and (max-width: 425px) {
    margin-bottom: 50px;
  }
}

footer {
  height: 55px;
  padding: 15px;
}
